.btn{
    outline: none;
    box-shadow: none !important;
    border: none;
}
.btn-primary{
    background-color: $secondary-color;
    color: black;
    &:hover{
        background-color: grey;
    }

    &:focus{
        background-color: $secondary-color;
    }
}