.content{
width: 100%;
height: 100%;
min-height: calc(100vh - 81px);
padding: 15px;
h1{
    font-size: 20px;
    color: #ffffff;
    svg{
        fill: #ffffff;
    }
}
a {
	text-decoration: none;
	color: inherit;
  }

  div.restriction {
        overflow: hidden;
        width:100px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
  }
#card-1{
    background-color: #8B0000;
    padding: 2rem;
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    h3{
        font-size: 18px;
        font-weight: 400;
        color: #a1a1a1;
    }
    p{
        font-size: 40px;
        font-weight: 400;
        color: #ffffff;
    }
    svg{
        fill: #ffffff;
        height: 40px;
        width: 40px;
    }
}

#card-2{
    background-color: #002D4D;
    padding: 2rem;
    img{
        border-radius: 100%;
        width: 30px;
        height: 30px;
        object-fit: cover;
        }
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    p{
        font-size: 40px;
        font-weight: 400;
        color: #ffffff;
    }
    svg{
        fill: #ffffff;
        height: 40px;
        width: 40px;
    }
}

#card-3{
    background-color: #7D0092;
    padding: 2rem;
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    p{
        font-size: 40px;
        font-weight: 400;
        color: #ffffff;
    }
    svg{
        fill: #ffffff;
        height: 40px;
        width: 40px;
    }
}
#card-pie{
    background-color: #7D0092;
    padding: 2rem;
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }
}

#card-projects{
    background-color: #8B0000;
    padding: 1.5rem;
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    h3{
        font-size: 18px;
        font-weight: 700;
        color: #a1a1a1;
    }
    th{
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
    }
    td{
        font-weight: 500;
        color: #a1a1a1;
        margin-top: 15px;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        color: #a1a1a1;
        position: relative;
        padding-left: 40px;
    }
    svg{
        fill: #ffffff;
        height: 40px;
        width: 40px;
        padding-right: 10px;
    }
}

#card-blog{
    background-color: #002D4D;
    padding: 2rem;
    table th, td{
        border-color: #9f9f9f;
        border-top: none;
        color: #9f9f9f !important;

    }
    img{
        border-radius: 100%;
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin: .5rem;
        }
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    p{
        font-size: 40px;
        font-weight: 400;
    }
    svg{
        fill: #ffffff;
        height: 40px;
        width: 40px;
        padding-right: 20px;
    }
    svg.bin{
        fill: #ad0101;
    }
}

#card-notifications{
    background-color: #7D0092;
    padding: 1.5rem;
    img{
        border-radius: 100%;
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin: .5rem;
        }
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    h3{
        font-size: 18px;
        font-weight: 500;
        color: #a1a1a1;
    }
    th{
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
    }
    td{
        font-weight: 300;
        color: #a1a1a1;
        margin-top: 15px;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        color: #a1a1a1;
        position: relative;
        padding-left: 40px;
    }
    svg{
        fill: #ffffff;
        height: 40px;
        width: 40px;
        padding-right: 10px;
    }
}

#card-post{
    background-color: #002D4D;
    padding: 2rem;
    table th, td{
        border-color: #9f9f9f;
        border-top: none;
        color: #9f9f9f !important;

    }
    img{
        height: 29vh;
        width: 100%;
        object-fit: cover;
        border-radius: 4%;
        }
    h2{
        font-size: 25px;
        font-weight: 600;
        color: #ffffff;
    }
    h3{
        font-size: 22px;
        font-weight: 500;
        color: #ffffff;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }
    svg{
        fill: #ffffff;
        height: 40px;
        width: 40px;
        padding-right: 20px;
    }
    svg.bin{
        fill: #ad0101;
    }
}
}