div.tab-content{

    div#preview{
        img{
            width: 100%;
        }
        h2{
            font-weight: 900;
            color: #ffffff;
        }
        h3 {
            color: #ffffff;
            margin-top: revert;
        }
    }
    div#edit{
        img{
            width: 100%;
        }
        
    }
}