form#image{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    border: dashed 2px #002D4D;
    margin-top: 5rem;
    height: 250px;
    width: 100%;
    align-items: center;
    input[type="file"]{
        display: none;
    }   



}
    
    
  
  