nav{
    background-color: $black;
    li{
        padding-left: 30px;
        padding-right: 30px;
    }
    li.dropdown{
        padding-left: inherit;
    }
    a{
        color: #ffffff !important;
    }
}