#sidebar{
    background-color: $black;
    width: 280px;
    svg{
        fill: #ffffff;
    }
    #logo{
    width: 100%;
    position: relative;
    top: -40%;
    }
    span{
        font-weight: 500;
        font-size: x-large;
        padding: 0 0 0 10px;
    }
    #grey{
        color: #a1a1a1;
    }
}
