* { 
	box-sizing: border-box;
}
html, body {
	max-height: 100vh;
	background: #373737 !important;
	color: #000 !important;
	overflow-x: hidden;
}

.btn-primary {
	background-color: #000 !important;
	border-color: #000 !important;
}

.btn-custom {
	background-color: #000 !important;
	border-color: #000;
}